html, body {
  width:  100%;
  height: 100%;
  margin: 0px;
  text-align: center;
}

#wrapper {
  display: flex;
  height: 100%;
  width: 100%;
  align-items: center;
  justify-content: center;
}

body {
  background: #444;
}

img {
  image-rendering: pixelated;
}

canvas {
  image-rendering: pixelated;
}

.wide-canvas {
  height: 100%;
}

.tall-canvas {
  width: 100%;
}
